body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(270deg, #407ba7 0%, #004e89 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

button {
  cursor: pointer;
  background: #002962;
}

.box {
  background-color: rgba(42, 103, 150, 0.7);
}
